<html>
  <head>
    <title> Command Not Found </title>
    <link rel="stylesheet" type="text/css; charset=utf-8" href="theme/import.css" />
  </head>
  <body class ="mainIndex fmax">
    <!-- メイン部 -->
    <div id="content">
      <!-- main contents -->
      <div id="main">
        <div class="section entry">
          <%= @contents[:MainContents] %> 
        </div>
      </div>
      <!-- main contents -->
    </div>
    <!-- メイン部 -->
  </body>
</html>
