#Git利用時は Gitプロパティをtrueに
#Git: true 
Git: false 
GitBare: true 

#Localにあるドキュメント参照する場合は、ディレクトリパスを設定
LocalDataStorePath: ./data/solomon_document/ 

#Git Repository使用時の設定
GitRepository: /home/Documents/mywiki_bare  #GitリポジトリのPath

#cache
CacheDirectory: cache

#ページにかかわる設定
Encoding: UTF-8 
#初期ページ
FrontPage: index.wiki
SideMenu: side.wiki
Header: header.wiki
Footer: footer.wiki
#サイトの名前
SiteName: "Solomon"
Description: "Git and Wiki based CMS system" 
GlobalNavi:
  - name: FrontPage 
    address: "http://localhost:8888/index.cgi"
  - name: Search
    address: "http://localhost:8888/index.cgi?c=search"

#サイトにかからる設定
SiteAddress: "http://localhost:8888/"
IndexHandler: index.cgi

#preview_server起動時にのみ使用する設定
Handler:
  index.cgi:  page.rb
